.badge {
  position: absolute;
  right: 0;
  top: 0;
  display: inline-flex;
  padding: 0px 8px 1px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 0px 8px;
  background: #219653;
  color: #FFF;
  text-align: right;
  font-family: Lato, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.unfinished {
  background: #EB5757;
}

.mp {
  background: #B68D10;
}
